/* Global styles for the page */
/*logo boxway color: #20a5d4 */
html{
    height: 100;
}
body {
    background-color: #a8cdf9;
    font-family:sans-serif;
    color: white;
    margin: 0;
}

.title{
    padding: 0 20px;
    font-size: 1.75em;
    text-transform: uppercase;
}

h1.title {
    margin: 40px auto 20px;
}

.text-center {
    text-align: center;
}